#panel {
  border-radius: 8px;
  margin: 4px 16px;
  height: 2.3em;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

#panel .panel-button {
  box-shadow: inset 0 0 0 100px rgba(242, 242, 242, 0.1);
}

#panel .panel-button:hover {
  background-color: rgba(101, 81, 146, 0.5);
}

#panel .panel-button:active {
  background-color: rgba(144, 116, 194, 1);
}
